<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <script type="text/javascript" src="//pieroxy.net/lzstring/lz-string-1.4.4.js"></script>
    <script type="text/javascript" src="static/preview.js"></script>
  </head>
  <body>
    <div class="flex" style="height: 100%">
      <input type="checkbox" class="flaskonly toggle" checked />
      <div class="flex col">
        <h2>Markdown</h2>
        <textarea id="md" oninput="updateiframe(this, 'theiframe')">
          {{- default_input | safe -}}
        </textarea>
      </div>
      <input type="checkbox" class="toggle" checked />
      <div class="flex col">
        <h2>Markdown HTML</h2>
        <iframe id="theiframe" src="/render"></iframe>
      </div>
    </div>
  </body>
  <script>
    (async () => {
      updateiframe(document.getElementById("md"), "theiframe");
    })();
  </script>
</html>
