<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <script
      type="text/javascript"
      src="//pieroxy.net/lzstring/lz-string-1.4.4.js"
    ></script>
    <script type="text/javascript" src="static/preview.js"></script>

    <script src="https://codemirror.net/codemirror.js"></script>
  </head>
  <body class="flex-parent col">
    <div class="flex-parent flex-expand">
      <input type="checkbox" class="flaskonly toggle" checked />
      <div class="flex-parent flex-expand col">
        <h2>Markdown</h2>
        <div id="editor" class="flex-expand"></div>
      </div>
      <input type="checkbox" class="toggle" checked />
      <div class="flex-parent flex-expand col">
        <h2>Markdown HTML</h2>
        <iframe id="theiframe" class="flex-expand" src="/render"></iframe>
      </div>
    </div>
    <span>
      Templates: {% for name in ['default', 'imessage', 'discord', 'spoiler',
      'aside'] %}
      <a href="javascript:setMarkdownTemplate('{{ name }}')">{{ name }}</a>
      {% endfor %}
    </span>
  </body>
</html>
